body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1158px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.address-nav .contact {
    justify-content: flex-end;
}

.order-service-button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus,
.order-service-button:active {
    background-color: #404BBF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-span-header {
    color: #2e2f42;
    text-decoration: none;
}

.logo-span-footer {
    color: #F4F4FD;
    text-decoration: none;
}

.link-nav .link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-nav .link:hover,
.link-nav .link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.address-nav {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-nav .contact {
    text-decoration: none;
    color: #434455;
}

.address-nav .contact:hover,
.address-nav .contact:focus {
    color: #404BBF;
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
 
h3 {
    font-weight: Medium;
    font-size: 20px;
    letter-spacing: 2%;
}

.main-page {
    background-color: #2e2f42;
}

.main-page-text {
    color: #ffffff;
}

.adv-title {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.adv-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-card {
    background-color: #ffffff;
}

.team-member {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.app-title {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.app-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}